<header id="ABdev_main_header" class="clearfix default">
		<div>
		  <div class="container">
			<div id="logo">
			  <a routerLink="/">
				<img src="assets/images/logo.png" alt="VozX">
				</a>
			</div>
			<nav>
			  <ul>
				<li class="menu-item-has-children current-menu-item">
            <a routerLink="/" ><span>Home</span></a>  <!--routerLinkActive="active"-->
				</li>
				<li class="menu-item-has-children">
						<a routerLink="/services"><span>Services</span></a>
				</li>
				<li class="menu-item-has-children">
				  <a href="aboutus.html"><span>About us</span></a>
				  <!-- <ul>
					<li><a href="aboutus-2.html"><span>About us 2</span></a></li>
					<li><a href="aboutus-team.html"><span>About us team member</span></a></li>
				  </ul> -->
				</li>
				<li class="mega6 menu-item-has-children">
          <a href="#"><span>Portfolio</span></a>
				</li>
				<li class="mega6 menu-item-has-children">
          <a href="#"><span>Blog</span></a>
				</li>
				<li class="menu-item-has-children">
          <a href="#"><span>Contact</span></a>
				</li>				
				<li>
          <a href="faq.html"><span>F.A.Q.</span></a>
        </li>
			  </ul>
			</nav>
			<div id="ABdev_menu_toggle"><i class="ci_icon-navicon"></i></div>
		  </div>
		</div>
	  </header>
	  
    <div id="ABdev_header_spacer"></div>